# Android Studio
.idea/
*.iml

# Local Configuration
local.properties

# Gradle
.gradle/
build/
**/build/
.externalNativeBuild/
.cxx/

# User-specific files
.DS_Store
captures/

# Kotlin/Java
*.class
